input {
    background-color: #ffc49c;
}
label {
    border: 4px black;
    text-align: left;
}
p {
    font-size: 28px;

}
form {
    margin-top: 5%;
    text-align: left;
}
title {
    font-family: "Georgia", serif;
}
h4 {
    text-align: left;
    color: #6588c9;
    font-size: 48px;
}
li {
    list-style-type: square;
    font-weight: lighter;
    font-family: "Roboto Black", serif;
}
ul.mymain {
    list-style-type: square;
    font-weight: lighter;
    font-family: "Roboto Black", serif;
}
label {
    text-align: left;
    color: #2d5eb3;
    font-size: 24px;
}
.welcome {
    font-size: 24px;
    margin-top: 5px;
    padding: 5px;
    color: #000000;
    font-family: "Roboto Black", serif;
}
#shop {
    font-size: 60px;
}