input {
    background-color: #fff1e8;
}
label {
    border: 4px black;
    text-align: left;
}
form {
    margin-top: 5%;
    text-align: left;
}
/*
.ul {
    font-weight: bold;
    font-family: "Roboto Black", serif;
}*/