input {
    background-color: #ffe2cf;
}
label {
    border: 4px black;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
form {
    width:20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: left;
}
/*
.ul {
    font-weight: bold;
    font-family: "Roboto Black", serif;
}*/