input {
    background-color: #fff1e8;
}
label {
    border: 4px black;
    text-align: left;
}
form {
    margin-top: 5%;
    text-align: left;
}
title {
    font-family: "Georgia", serif;
}
h4 {
    padding: 30px;
    text-align: left;
    color: #6588c9;
    font-size: 48px;
}
ul.mymain {
    list-style-type: square;
    font-weight: lighter;
    font-family: "Roboto Black", serif;
}